* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#general {
  width: 1200px;
  margin: 0px auto;
  background-color: #cccccc;
}

#cabezera {
  width: 100%;
  height: 100px;
  background-color: aquamarine;
  text-align: center;
  line-height: 100px;
}

.clearfix {
  float: none;
  clear: both;
}

#menu {
  background-color: blanchedalmond;
}

#menu ul li {
  /* display: inline-block;  or */
  display: block;
  float: left;
  padding: 5px;
  border-right: 1px solid #cccccc;
}

#menu ul li:hover {
  background-color: aqua;
  a {
    color: brown;
  }
}

#lateral {
  width: 30%;
  float: left;
  background-color: chartreuse;
}

#principal {
  width: 70%;
  float: left;
  background-color: burlywood;
}

#principal .caja {
  width: 40%;
  border: 5px solid salmon;
  background-color: crimson;
  color: white;
  float: left;
  margin: 0px 4%;
}

footer {
  text-align: center;
}